/*===============================================================================================================
														NAVBAR
=================================================================================================================*/
/*@media screen and (min-width: 1366px){
	.navbar ul li a{
		font-family: conthraxsemibold;
		text-transform: uppercase;
	}

	.logo-box{
		float: left;
	}

	.logo{
		margin: 0;
		position: absolute;
		top: 30%;
	}

	.drop{
		right: 0;
		min-width: auto;
		margin-top: 3vh;
	}

	.drop a{
		text-align: center;
		display: block !important;
	}

	.navbar-landing ul{
		float: right;
		color: white;
		list-style: none;
		margin: 0;
	}

	.navbar-landing ul li, .navbar-landing ul li form{
		display: inline;
	}

	.navbar-landing ul li a{
		display: inline-block;
		cursor: pointer;
		color: #0071c7;
		padding: 1.2vw;
		font-size: 2.3vh;
		font-family: conthraxsemibold;
		text-transform: uppercase;
	}

	.navbar-landing ul li a:hover{
		text-decoration: none;
		background-color: rgba(0,0,0, 0.1);
	}

	.navbar-landing ul li a.active {
	    background-color: rgba(0,0,0, 0.3);
	    text-decoration: none;
	}

	.navbar-landing ul li a.icon-toggle{
		display: none;
	}

	.study-acc{
		float: right;
	}

	.par{
		font-size: 2.1vh;
		line-height: 1.6;
	}

	.subtitle{
		font-size: 4vh;
	}

	.tel768{
		display: none;
	}
}*/

/*@media screen and (max-width: 1366px){
	.logo-box{
		float: left;
	}

	.logo{
		margin: 0;
		position: absolute;
		top: 50%;
	}

	.drop{
		right: 0;
		min-width: auto;
		margin-top: 3vh;
	}

	.drop a{
		text-align: center;
		display: block !important;
	}

	.navbar ul li a{
		font-family: conthraxsemibold;
		text-transform: uppercase;
	}

	.navbar-landing ul{
		float: right;
		color: white;
		list-style: none;
		margin: 0;
	}

	.navbar-landing ul li, .navbar-landing ul li form{
		display: inline;
	}

	.navbar-landing ul li a{
		display: inline-block;
		cursor: pointer;
		color: #0071c7;
		padding: 1.2vw;
		font-size: 0.8em;
		font-family: conthraxsemibold;
		text-transform: uppercase;
	}

	.navbar-landing ul li a:hover{
		text-decoration: none;
		background-color: rgba(0,0,0, 0.1);
	}

	.navbar-landing ul li a.active {
	    background-color: rgba(0,0,0, 0.3);
	    text-decoration: none;
	}

	.navbar-landing ul li a.icon-toggle{
		display: none;
	}

	.tel768{
		display: none;
	}
}*/

/*@media screen and (min-width: 992px) and (max-width: 1366px){
	.logo{
		left: 10%;
		transform: translate(-50%, -50%);
		height: 70%;
	}
}

@media screen and (max-width: 992px){
	.logo{
		width: 12%;
		margin: 0;
		position: absolute;
		top: 10px;
	}

	.navbar-landing ul li a, .search-input, .search-icon{
		display: none;
	}

	.navbar-landing ul{
		margin: 1.5vh 0;
	}

	.navbar-landing ul li a.icon-toggle {
	    float: right;
	    display: block;
	    font-size: 5vh;
	}

	.navbar-landing.responsive {
	  	position: relative;
	}

	.navbar-landing ul{
		width: 30%;
		padding: 0;
	}

	.navbar-landing.responsive ul li a.icon-toggle {
	    position: absolute;
	    right: 0;
	    top: 0;
	}

	.navbar-landing.responsive ul li a {
	    float: none;
	    display: block;
	    text-align: left;
	    font-size: 12px;
	}

	.tel768{
		display: block;
	}

	.tel1366{
		display: none;
	}
}*/

/*====================================================================================================================
														BLOG
====================================================================================================================*/

.feat-img{
	height: 400px;
	text-align: center;
	font-family: 'quicksandlight';
	padding: 0 50px;
}

.feat-img-box img{
	height: 250px;
	width: 250px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-article-title{
	padding: 0 1vw;
	bottom: 0;
	position: absolute;
	margin: 5vh auto 0;
	left: 0;
	right: 0;
}

.list-article-title a{
	color: white;
}

/*====================================================================================================================
														ARTICLE
====================================================================================================================*/
#detail-article{
	padding: 5vh 10vw;
	background-color: black;
	height: 100vh;
	color: white;
}

.article{
	padding-right: 5vw;
}

.article-title{
	font-family: 'quicksandlight';
	font-size: 5vh;
	margin-bottom: 10vh;
	text-transform: capitalize;
	text-align: center;
}

.article-date{
	margin-bottom: 3vh;
}

.article-content, .article-date{
	font-family: 'sf_ui__textregular';
	font-size: 2.3vh;
	line-height: 1.5;
}

.first-char{
	font-size: 9vh;
	float: left;
  	padding-right: 2vh;
  	line-height: 10vh;
}

.related-article{
	padding: 0;
	margin-right: -5vw;
}

.related{
	font-family: 'quicksandlight';
	margin-bottom: 3vh;
	text-align: center;
}

.related-img p{
	position: absolute;
	background-color: rgba(255,0,0,0.5);
	font-family: 'sf_ui__textregular';
	text-align: center;
	padding: 2vh 1vw;
}

.img-related{
	position: relative;
}

#featured-img{
	background-color: black;
}

.featured-img img{
	max-height: 40vh;
	margin: 5vh auto;
}

#main-article{
	background-color: black;
	color: white;
	/*height: 100vh;*/
}

.main-article img{
	width: 100% !important;
    height: auto;
    padding: 3vh 3vw;
}

.article-quote{
	font-family: 'quicksandlight';
	font-size: 5vh;
	margin:0;
	padding: 10vh 10vw;
	text-transform: capitalize;
	text-align: center;
}

.article-img2-box{
	margin: 10vh 0 5vh;
	padding: 0;
}

.article-img2{
	margin: 3vh auto;
}

/*====================================================================================================================
														CAREERS
====================================================================================================================*/
@media screen and (max-width: 1366px){
	#careers{
		background-color: black;
		color: white;
	}

	.careers-side li{
		list-style: none;
		border-bottom: solid;
		padding: 1.5vh 0;
	}

	.careers-side li a{
		color: white;
		font-family: 'quicksandlight';
		font-size: 4vh;
		transition: .3s all;
	}

	.careers-side li a:hover{
		text-decoration: none;
		font-family: 'quicksandbold';
		transition: .3s all;
		color: black;
	}

	.careers-email{
		text-align: center;
		margin-top: 10vh;
	}

	.send-us{
		color: white;
		font-size: 3vh;
		border-style: solid;
		border-width: thin;
		padding: 1vh 1vw;
		font-family: 'quicksandlight';
		text-align: center;
		transition: .3s all;
	}

	.send-us:hover{
		padding: 1vh 3vw;
		color: white;
		transition: .3s all;
		text-decoration: none;
	}

	.requirement li{
		font-size: 2.5vh;
		list-style: none;
		/*margin-left: 3vw;*/
		margin-bottom: 2vh;
	}

	.requirement li:before{
		content: "\f046";
		font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    margin: 0 2vw 2vh -3vw;
	    /*line-height: 2.5vh;*/
	    font-size: 2.5vh;
	}

	.icon-careers{
		margin: 0 auto;
	}
}

@media screen and (max-width: 992px){
	.nav > li, .nav-tabs > li {
		float: none;
		text-align: center;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover  {
		background-color: transparent;
	
	}

	.tab-content{
		margin-top: 10vh;
	}

	.careers992{
		margin-top: 5vh;
	}
}

/*====================================================================================================================
														ABOUT US
====================================================================================================================*/
@media screen and (min-width: 1366px){
	
	.bg-black{
		background-color: black;
		color: white;
	}

	#about-intro p{
		text-align: center;
		margin: 0;
		padding: 10vh 10vw;
	}

	#time-to-time h3{
		margin: 0;
		padding: 0 0 5vh;
		text-align: center;
	}

	.about-2016, .about-2018{
		text-align: right;
		padding: 5vh 5vw 5vh 0;
	}

	#about-line img{
		margin: 0 auto;
		width: 40vw;
	}

	.about-2017{
		padding: 5vh 0 5vh 5vw;
	}

	.about-2018{
		margin-bottom: 25vh;
	}

	.img-20161, .img-20171, .img-20181{
		margin: 0 auto;
		width: 80%;
	}

	.img-about-hidden{
		display: none;
	}

	.about-video img{
		margin: 10vh auto;
		border-radius: 5vh;
	}

	.about-img{
		position: relative;
		height: 50vh;
	}

	.img-pos{
		position: absolute;
	}

	.img-20162{
		z-index: 2;
		width: 60%;
		margin: 0 auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.img-20163{
		z-index: 2;
		width: 37%;
		right: 0;
		margin-right: 5vw;
	}

	.img-20164{
		z-index: 3;
		width: 40%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 10vw 0 auto;
	}

	.img-20165{
		z-index: 3;
		width: 45%;
		right: 0;
		bottom: 0;
		margin: 0 2vw -10vh auto;
	}

	.img-20166{
		z-index: 3;
		width: 20%;
		right: 0;
		bottom: 0;
		margin: 0 2vw 12vh auto;
	}

	.img-20167{
		z-index: 3;
		width: 40%;
		left: 0;
		bottom: 0;
		margin: 0 auto -20vh 5vw;
	}

	.img-20168{
		z-index: 3;
		width: 40%;
		left: 0;
		top: 0;
		margin: -3vh auto 0 5vw;
	}

	.img-20169{
		z-index: 3;
		width: 40%;
		right: 0;
		top: 0;
		margin: 0 auto;
	}

	.img-20172{
		z-index: 2;
		width: 50%;
		left: 0;
		top: 0;
		margin: 0 auto 0 10vw;
	}

	.img-20173{
		z-index: 2;
		width: 50%;
		left: 0;
		bottom: 0;
		margin: 0 auto -20vh 6vw;
	}

	.img-20174{
		z-index: 2;
		width: 60%;
		right: 0;
		bottom: 0;
		margin: 0 -5vw -15vh 0;
	}

	.img-20175{
		z-index: 3;
		width: 20%;
		right: 0;
		top: 0;
		margin: 5vh 15vw 0 0;
	}

	.img-20176{
		z-index: 3;
		width: 55%;
		right: 0;
		top: 0;
		margin: 0 -10vw 0 0;
	}

	.img-20177{
		z-index: 4;
		width: 50%;
		right: 0;
		top: 0;
		margin: 10vh -10vw 0 0;
	}

	.img-20178{
		z-index: 4;
		width: 25%;
		left: 0;
		bottom: 0;
		margin: 0 auto -10vh 5vw;
	}

	.img-20182{
		z-index: 3;
		width: 50%;
		left: 0;
		right: 0;
		top: 0;
		margin: 5vh auto 0;
	}

	.img-20183{
		z-index: 2;
		width: 40%;
		left: 0;
		right: 0;
		top: 0;
		margin: -5vh auto 0 8vw;
	}

	.img-20184{
		z-index: 4;
		width: 50%;
		left: 0;
		top: 0;
		margin: 35vh auto 0 3vw;
	}

	.img-20185{
		z-index: 5;
		width: 30%;
		left: 0;
		top: 0;
		margin: 50vh auto 0 5vw;
	}

	.img-20186{
		z-index: 5;
		width: 30%;
		left: 0;
		bottom: 0;
		margin: 50vh auto 0 5vw;
	}

	.img-20187{
		z-index: 5;
		width: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 12vw -17vh auto;
	}

	.img-20188{
		z-index: 6;
		width: 25%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 12vw -7vh auto;
	}

	.img-20189{
		z-index: 6;
		width: 25%;
		right: 0;
		top: 0;
		margin: 0 10vw 0;
	}

	.img-201810{
		z-index: 5;
		width: 25%;
		right: 0;
		top: 0;
		margin: 15vh 10vw 0;
	}

	.img-201811{
		z-index: 6;
		width: 20%;
		right: 0;
		bottom: 0;
		margin: 0 10vw -10vh auto;
	}
}
@media screen and (max-width: 1366px){
	.bg-black{
		background-color: black;
		color: white;
	}

	#about-intro p{
		text-align: center;
		margin: 0;
		padding: 10vh 10vw;
	}

	#time-to-time h3{
		margin: 0;
		padding: 0 0 5vh;
		text-align: center;
	}

	.about-2016, .about-2018{
		text-align: right;
		padding: 5vh 5vw 5vh 0;
	}

	#about-line img{
		margin: 0 auto;
		width: 40vw;
	}

	.about-2017{
		padding: 5vh 0 5vh 5vw;
	}

	.about-2018{
		margin-bottom: 25vh;
	}

	.img-20161, .img-20171, .img-20181{
		margin: 0 auto;
		width: 80%;
	}

	.img-about-hidden{
		display: none;
	}

	.about-video img{
		margin: 10vh auto;
		border-radius: 5vh;
	}

	.about-img{
		position: relative;
		height: 50vh;
	}

	.img-pos{
		position: absolute;
	}

	.img-20162{
		z-index: 2;
		width: 60%;
		margin: 0 auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.img-20163{
		z-index: 2;
		width: 37%;
		right: 0;
		margin-right: 5vw;
	}

	.img-20164{
		z-index: 3;
		width: 40%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 10vw 0 auto;
	}

	.img-20165{
		z-index: 3;
		width: 45%;
		right: 0;
		bottom: 0;
		margin: 0 2vw -10vh auto;
	}

	.img-20166{
		z-index: 3;
		width: 20%;
		right: 0;
		bottom: 0;
		margin: 0 2vw 12vh auto;
	}

	.img-20167{
		z-index: 3;
		width: 40%;
		left: 0;
		bottom: 0;
		margin: 0 auto -20vh 5vw;
	}

	.img-20168{
		z-index: 3;
		width: 40%;
		left: 0;
		top: 0;
		margin: -3vh auto 0 5vw;
	}

	.img-20169{
		z-index: 3;
		width: 40%;
		right: 0;
		top: 0;
		margin: 0 auto;
	}

	.img-20172{
		z-index: 2;
		width: 50%;
		left: 0;
		top: 0;
		margin: 0 auto 0 10vw;
	}

	.img-20173{
		z-index: 2;
		width: 50%;
		left: 0;
		bottom: 0;
		margin: 0 auto -20vh 6vw;
	}

	.img-20174{
		z-index: 2;
		width: 60%;
		right: 0;
		bottom: 0;
		margin: 0 -5vw -15vh 0;
	}

	.img-20175{
		z-index: 3;
		width: 20%;
		right: 0;
		top: 0;
		margin: 5vh 15vw 0 0;
	}

	.img-20176{
		z-index: 3;
		width: 55%;
		right: 0;
		top: 0;
		margin: 0 -10vw 0 0;
	}

	.img-20177{
		z-index: 4;
		width: 50%;
		right: 0;
		top: 0;
		margin: 10vh -10vw 0 0;
	}

	.img-20178{
		z-index: 4;
		width: 25%;
		left: 0;
		bottom: 0;
		margin: 0 auto -10vh 5vw;
	}

	.img-20182{
		z-index: 3;
		width: 50%;
		left: 0;
		right: 0;
		top: 0;
		margin: 5vh auto 0;
	}

	.img-20183{
		z-index: 2;
		width: 40%;
		left: 0;
		right: 0;
		top: 0;
		margin: -5vh auto 0 8vw;
	}

	.img-20184{
		z-index: 4;
		width: 50%;
		left: 0;
		top: 0;
		margin: 35vh auto 0 3vw;
	}

	.img-20185{
		z-index: 5;
		width: 30%;
		left: 0;
		top: 0;
		margin: 50vh auto 0 5vw;
	}

	.img-20186{
		z-index: 5;
		width: 30%;
		left: 0;
		bottom: 0;
		margin: 50vh auto 0 5vw;
	}

	.img-20187{
		z-index: 5;
		width: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 12vw -17vh auto;
	}

	.img-20188{
		z-index: 6;
		width: 25%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 12vw -7vh auto;
	}

	.img-20189{
		z-index: 6;
		width: 25%;
		right: 0;
		top: 0;
		margin: 0 10vw 0;
	}

	.img-201810{
		z-index: 5;
		width: 25%;
		right: 0;
		top: 0;
		margin: 15vh 10vw 0;
	}

	.img-201811{
		z-index: 6;
		width: 20%;
		right: 0;
		bottom: 0;
		margin: 0 10vw -10vh auto;
	}
}

@media screen and (max-width: 992px){
	.img-about-hidden{
		display: block;
	}

	.img-about-hidden img{
		margin: 5vh auto;
		width: 40%;
	}

	.img-2016, .img-2017, .img-2018{
		display: none;
	}

	.about-2016, .about-2017, .about-2018{
		text-align: center;
		padding: 0 5vw;
	}

	.about-2018{
		margin-bottom: 0;
	}
}

/*====================================================================================================================
													SHOWCASE CATEGORY
====================================================================================================================*/
@media screen and (min-width: 1366px){
	.bg-black{
		background-color: black;
		color: white;
	}
	.category-icon{
		text-align: center;
		font-family: 'quicksandlight';
		height: 30vh;
	}

	.category-icon a{
		color: white;
		position: relative;
		font-size: 3vh;
	}

	.cat-icon-name{
		bottom: 0;
		position: absolute;
		margin: 5vh auto 0;
		left: 0;
		right: 0;
	}

	.cat-icon-box img{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 40%;
	}
}

@media screen and (max-width: 1366px){
	.category-icon{
		text-align: center;
		font-family: 'quicksandlight';
		height: 250px;
	}

	.cat-link{
		color: white;
	}

	.cat-link:hover{
		color: wheat;
	}

	.cat-icon-name{
		bottom: 0;
		position: absolute;
		margin: 5vh auto 0;
		left: 0;
		right: 0;
	}

	.cat-icon-box img{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
	}
}